<html>
  <main>
    <form action="/register" method="POST">
      <label for="tipo_documento">Tipo documento</label>
      <input type="text" name="tipo_documento" />
      <label for="documento">Documento</label>
      <input type="text" name="documento" />
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" />
      <label for="genero">Genero</label>
      <input type="text" name="genero" />
      <label for="edad">Edad</label>
      <input type="text" name="edad" />
      <label for="telefono">Telefono</label>
      <input type="text" name="telefono" />
      <label for="correo">Correo</label>
      <input type="text" name="correo" />
      <label for="contrasena">Contrasena</label>
      <input type="password" name="contrasena" />
      <label></label>
      <input type="submit" value="Register" />
    </form>
  </main>
</html>
